.text-div3-h2{
    color: #3C82F4;
}
.bullet{
    width: 25px;
    height: 25px;
    background-color: #2D2D2D;
    border-radius: 50%;
}
.content-btn{
    border-color: #707070;  

}
.content-btn2{
    background-color: #326CF9;
    color: white;
}
.text-div3-h2{
    color: #3C82F4;
}
.step-text{
    color: #3D82F2;
}